/* LAYOUT */
.container {
  max-width: 750px;
  margin: 0 auto;
  position: relative;
}

.small {
	font-size: 12px;
	margin-top: 0.33em;
	display: block;
}

.entryLink {
	display: block;
	margin-bottom: 2em;
	background: none;
}

.entryLink:hover {
	text-shadow: none;
	background: none;
}

.lightText {
	font-size: 14px;
	color: #666;
}

.lightText a {
	background-image: linear-gradient(#fff, #fff), linear-gradient(#fff, #fff), linear-gradient(#666, #666);
}

.caption {
	line-height: 18px;
	display: block;
	margin: 6px auto 24px;
	max-width: 600px;
	font-style: normal;
}

.margin {
	position: absolute;
	box-sizing: border-box;
	width: 29.3333%;
}

.margin blockquote {
	margin: 3px 0;
	padding: 3px 6px;
	font-size: 14px;
	line-height: 18px;
}

.margin blockquote p {
	margin: 0;
}

.margin img,
.column img {
	margin-top: 6px;
}

.margin p {
	font-style: italic;
	font-family: Georgia;
	font-size: 0.9em;
	margin-top: 0;
}

.left.margin {
	left: -29.3333%;
	padding-right: 24px;
	text-align: right;
}

.right.margin {
	right: -29.3333%;
	padding-left: 24px;
}

.wide {
	width: 158.6666667%;
	margin-left: -29.3333333%;
}

.wide.left,
.wide.right {
	width: 129.3333333%;
}

.wide.left {
	margin: 0 0 0 -29.3333333%;
}

.wide.right {
	margin: 0 -29.3333333% 0 0;
}

.column {
	box-sizing: border-box;
	float: left;
}

.column .caption {
	margin-bottom: 6px;
}

.column.two {
	width: 50%;
	padding-right: 12px;
}

.column.three {
	width: 33%;
	padding-right: 24px;
}

.column.two + .column.two {
	padding: 0 0 0 12px;
}

.column h1,
.column h2,
.column h3 {
	margin-bottom: -12px;
}
/* Center images when they're meant to extend
   into both margins. Otherwise it aligns left
*/
.wide .image_container {
	margin: 0 auto;
}

.image {
	position: relative;
	height: 0;
	padding: 0 0 35.504201681%;
	overflow: hidden;
	max-width: 100%;
	margin: 0 auto;
	display: block;
}

.image img {
	width: 100%;
}

.image_container {
	display: block;
}
/* VIDEOS */
iframe {
	margin: 23px 0 !important;
	width: 100%;
}
/* TWEETS */
.twitter-tweet {
	margin-left: -16px !important;
}
/* MATH */
.katex {
	font-size: 1.05em;
}
/* Pagination */
.previousEntry,
.nextEntry {
	text-decoration: none;
	background: none;
	text-shadow: none;
	font-size: 0.88em;
	line-height: 1.33em;
	width: 48%;
	margin: 3em 0 6em 2%;
	color: #000;
	display: block;
	float: left;
}

.previousEntry:hover,
.nextEntry:hover {
	text-decoration: none;
	background: none;
	text-shadow: none;
}

.previousEntry {
	margin: 3em 2% 6em 0;
}

.previousEntry .title,
.nextEntry .title {
	display: block;
	font-size: 1.156em;
	line-height: 20px;
	margin: 9px 0;
}

input[type="submit"] {
	font-size: 1em;
	padding: .68em 1em 0.58em;
	background: #D7D6C8;
	margin-left: 0.66em;
	font-family: Helvetica;
	vertical-align: top;
	color: #454432;
	cursor: pointer;
}

input#search {
	font-size: 1em;
	padding: .58em 1em .58em 2.3em;
	background: url("data:image/svg+xml;base64,PHN2ZyBpZD0iaWNvbi1zZWFyY2giIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgOCA4IiB4bWw6c3BhY2U9InByZXNlcnZlIj4NCjxwYXRoIGlkPSJzZWFyY2giIGQ9Ik03Ljk5LDYuOTI4TDUuODQ3LDQuNzg0YzAuMjg5LTAuNDc2LDAuNDU4LTEuMDMzLDAuNDU4LTEuNjNDNi4zMDUsMS40MTIsNC44OTUsMCwzLjE1MiwwDQoJQzEuNDExLDAsMCwxLjQxMiwwLDMuMTU0YzAsMS43NDEsMS40MTIsMy4xNTEsMy4xNTMsMy4xNTFjMC41OTcsMCwxLjE1NC0wLjE2OSwxLjYzLTAuNDU4bDIuMTQ1LDIuMTQ2TDcuOTksNi45Mjh6IE0xLjIwMywzLjE1NA0KCWMwLjAwMi0xLjA3NywwLjg3NC0xLjk0OSwxLjk1MS0xLjk1MWMxLjA3NiwwLjAwMiwxLjk0OCwwLjg3NCwxLjk0OSwxLjk1MUM1LjEwMSw0LjIzLDQuMjI5LDUuMTAzLDMuMTUzLDUuMTAzDQoJQzIuMDc1LDUuMTAzLDEuMjA1LDQuMjMsMS4yMDMsMy4xNTR6Ii8+DQo8L3N2Zz4=") 1em center / 0.8em no-repeat;
	width: min(400px, 100%);
	box-sizing: border-box;
	margin: 0;
	border: 2px solid #D7D6C8;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	background-color: #fff;
}

input#search:focus {
	outline: none;
	box-shadow: 0 0 5px rgba(100, 169, 226, 0.51);
	border: 2px solid #A1ADB6;
}
/*
